[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "calculator_pkg"
version = "0.1.0"
dependencies = [
    "pytest",
]

[tool.setuptools.packages.find]
where = ["src"]
